In [1]:
#Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.
import pandas as pd

data = [18, 45, 7, 33, 17, 333]
series = pd.Series(data)

print(series)

0     18
1     45
2      7
3     33
4     17
5    333
dtype: int64

In [2]:
#Write a Pandas program to convert a Pandas Series to Python list and its types.
import pandas as pd

data = [19, 87, 88, 61, 6, 15]
series = pd.Series(data)

list_data = series.tolist()
print(list_data)
print(type(list_data))

[19, 87, 88, 61, 6, 15]
<class 'list'>

In [3]:
#Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Kailash', 'Ram', 'Raju', 'Mani', 'Emily', 'Anil', 'Sai', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

print(df)

      name  score  attempts qualify
a  Kailash   12.5         1     yes
b      Ram    9.0         3      no
c     Raju   16.5         2     yes
d     Mani    NaN         3      no
e    Emily    9.0         2      no
f     Anil   20.0         3     yes
g      Sai   14.5         1     yes
h    Laura    NaN         1      no
i    Kevin    8.0         2      no
j    Jonas   19.0         1     yes

In [4]:
#Write a Pandas program to change the name 'James' to 'Suresh' in name column of the DataFrame.
# Replace 'Kailash' with 'Ajay' in the 'name' column
df.replace({'name': {'Kailash': 'Bhadri'}}, inplace=True)

# Display the updated DataFrame
print(df)

     name  score  attempts qualify
a  Bhadri   12.5         1     yes
b     Ram    9.0         3      no
c    Raju   16.5         2     yes
d    Mani    NaN         3      no
e   Emily    9.0         2      no
f    Anil   20.0         3     yes
g     Sai   14.5         1     yes
h   Laura    NaN         1      no
i   Kevin    8.0         2      no
j   Jonas   19.0         1     yes

In [5]:
#Write a Pandas program to insert a new column in existing DataFrame.
# Add a new column 'grade' to the DataFrame
df['grade'] = ['A','B','A','C','B','A','B','C','C','A']

# Display the updated DataFrame
print(df)

     name  score  attempts qualify grade
a  Bhadri   12.5         1     yes     A
b     Ram    9.0         3      no     B
c    Raju   16.5         2     yes     A
d    Mani    NaN         3      no     C
e   Emily    9.0         2      no     B
f    Anil   20.0         3     yes     A
g     Sai   14.5         1     yes     B
h   Laura    NaN         1      no     C
i   Kevin    8.0         2      no     C
j   Jonas   19.0         1     yes     A

In [6]:
#Write a Pandas program to get list from DataFrame column headers.
# Convert DataFrame column names to a list
columns_list = list(df.columns)

# Display the list of columns
print(columns_list)

['name', 'score', 'attempts', 'qualify', 'grade']